.login-form-title {
  background: rgb(0,32,96);
  background: linear-gradient(180deg, rgba(0,32,96,1) 0%, rgba(112,48,160,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form-button {
  background-color: #7030A0;
}

.login-form-button:hover {
  background-color: #5b2485;
}

.login-background {
  background-image: url("../../../public/login-page-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-background {
  background-image: url("../../../public/dashboard-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-background-dark {
  background-image: url("../../../public/dashboard-bg-dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  -webkit-touch-callout: none;
  pointer-events: none;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 1.55rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.4);
  border: solid 0.5rem transparent;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(75, 75, 75, 0.8);
  border: solid 0.6rem transparent;
  border-radius: 24px;
}

.star-pink {
  filter: sepia(100%) hue-rotate(90deg) saturate(0.7) brightness(0.6) contrast(4) invert();
}

.star-orange {
  filter: sepia(100%) hue-rotate(175deg) saturate(1.8) brightness(0.6) contrast(4) invert();
}

.star-yellow {
  filter: sepia(100%) hue-rotate(192deg) saturate(1) brightness(0.56) contrast(6) invert();
}

.star-green {
  filter: sepia(100%) hue-rotate(274deg) saturate(1.2) brightness(0.6) contrast(5) invert();
}

.star-light-blue {
  filter: sepia(100%) hue-rotate(-30deg) saturate(1) brightness(0.55) contrast(9) invert();
}

.star-blue {
  filter: sepia(100%) hue-rotate(5deg) saturate(0.7) brightness(0.6) contrast(5) invert();
}

.star-purple {
  filter: sepia(100%) hue-rotate(40deg) saturate(0.7) brightness(0.6) contrast(4) invert();
}

/* Stock */

.stock-bg {
  background-color: #121212;
}

.stock-text-1 {
  color: #121212;
}

.stock-text-2 {
  color: #181818;
}

.stock-text-3 {
  color: #404040;
}

.stock-text-4 {
  color: #282828;
}

.stock-text-5 {
  color: #FFFFFF
}

.stock-text-6 {
  color: #B3B3B3;
}
